<button
  class="btn"
  [class.disabled]="disabled"
  [class.block]="block"
  [class.sm]="size === BtnSize.SM"
  [class.md]="size === BtnSize.MD"
  [class.lg]="size === BtnSize.LG"
  [class.fill]="variant === BtnVariant.FILL"
  [class.outline]="variant === BtnVariant.OUTLINE"
  [class.ghost]="variant === BtnVariant.GHOST"
  [class.gray]="variant === BtnVariant.GRAY"
  [class.success]="variant === BtnVariant.SUCCESS"
  [class.danger]="variant === BtnVariant.DANGER"
  [disabled]="disabled"
  [style.color]="variant === BtnVariant.OUTLINE || variant === BtnVariant.GHOST ? color : null"
  [style.borderColor]="variant === BtnVariant.OUTLINE ? color : null"
>
  <ng-content></ng-content>
</button>
